<!DOCTYPE html>
<html>



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/DetalhesCliente.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="../static/styles/login.css"> -->

    <title>Atendimentos de {{nome_cliente.split()[0] }}</title>
</head>

<body>
    <i class="fa icon" onclick="window.location.href='{{ url_for('meusClientes')}}'">&#xf0a8;</i>
    <div class="container-login100" id="container">
        <div class = "greetings"> Atendimento Detalhado</div>
        <div class="card">
                <div class="container2">
                  <p><b>Nome: </b>{{nome_cliente}}</p>
                  <p><b>Telefone: </b>{{telefone_cliente}}</p>
                  <p><b>Email: </b>{{email_cliente}}</p>
                </div>
        </div>
        <form method="POST" id="form" style="width: 90% ;max-width: 1050px">
            <div>
                <div style="display: flex;flex-direction: row; justify-content: space-between;">
                    <div></div>
                    <div class="dropdown" style="margin-bottom: 15px">
                        <button class="botao botao2">Ordenar por</button>
                        <div class="dropdown-content">
                            <input type="submit" class="option" name="data" value="Data"
                                onclick="document.getElementById('form').submit()">
                            <input type="submit" class="option" name="valor" value="Valor"
                                onclick="document.getElementById('form').submit()">
                        </div>
                    </div>
                </div>
                <div class="wrap-login100" id="wrap">
                    <table id="table">
                        <tr>
                            <th>Data do atendimento</th>
                            <th>Valor</th>
                        </tr>
                    </table>
                    <div style="overflow: scroll;max-height: 60vh;background: #fff;">
                        <table id="table">
                            {% for recibo in recibos %}
                            <tr>
                                <td>{{recibo[4]}}</td>
                                <td>{{recibo[3]}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>


</body>

</html>