<!DOCTYPE html>
<html>



<head>
    <title>Esqueci minha senha</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <i class="fa icon" style="font-size: 40px;" onclick="window.location.href='{{ url_for( 'login')}}'">&#xf0a8;</i>
    <div class="container-login100" id="container">
        <div class="modal" id="modal">
            <form method="POST" id="form2">
                <h2 class="welcome" style="text-align: center; padding-top: 0">Esqueci minha senha</h2>
                <div class="inputBox" id="divForgot" style="padding-top: 40px"> <input type="text" name="cpfForgot"
                        id="inputForgot" placeholder="Insira seu CPF" value="{{ request.form.cpfForgot }}" class="input"
                        maxlength="14" oninput="this.value = CPF(this.value, event)" />
                </div>
                {% if error %}
                <p class="error" style="text-align: center; color: #e74c3c; font-size: 14px">{{ error }}
                    {% endif %}
                <div class="inputBox" id="divForgot2" style="padding-bottom: 10px; padding-top: 30px">
                    <input type="submit" class="botao" name="submit" id="btnForgot" value="Enviar"></input>
                </div>
                {% if sucesso %}
                <p class="sucesso" style="text-align: center; font-size: 14px">{{ sucesso }}
                    {% endif %}
            </form>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>


</body>



</html>