<!DOCTYPE html>
<html>



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/loggedProfissional.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="../static/styles/loggedMedico.css"> -->


    <title>Login</title>
</head>

<body>
    <div class="container-login100">
        <strong class="greetings">Bem vindo, {{ profissional.split()[0] }}!</strong>
        <div class="botoes">
            <button class="botao">Informações de cadastro</button>
            <button class="botao">Meus Clientes</button>
            <button class="botao">Recibos</button>
            <button class="botao">Configurações</button>
        </div>
        <button class="sair" onclick="window.location.href='{{ url_for( 'login')}}'">Sair</button>            
    </div>


</body>

</html>