<!DOCTYPE html>
<html>



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/loggedProfissional.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="../static/styles/loggedMedico.css"> -->


    <title>Login</title>
</head>

<body>
    <div class="container-login100">
        <strong class="greetings">Bem vindo, {{ profissional.split()[0] }}!</strong>
        <div class="botoes">
            <button class="botao" onclick="window.location.href='{{ url_for( 'Informacoes_cadastroPro')}}'">Informações de cadastro</button>
            <button class="botao" onclick="window.location.href='{{ url_for( 'meusClientes')}}'">Meus clientes</button>
            <button class="botao" onclick="window.location.href='{{ url_for( 'RecibosProfissional')}}'">Recibos</button>

        </div>
        {% if tipo==3 %}
        <button class="sair" onclick="window.location.href='{{ url_for( 'loggedCliente')}}'">Alternar para Cliente</button>
                    {% endif %}
        <button class="sair" id="btnSair">Sair</button>

    </div>

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <h2>Deseja realmente sair?</h2>
            <div style="margin-top: 20px;">
                <button class="escolha" style="background: rgb(221, 57, 57)" id="close">Não</button>
                <button class="escolha" style="background: #2ecc71" onclick="window.location.href='{{ url_for( 'logout')}}'">Sim</button>
            </div>
        </div>

    </div>


</body>

<script>
    // Get the modal
    var modal = document.getElementById("myModal");
    var body = document.body;
    var div = document.getElementsByClassName("container-login100")[0];

    // Get the button that opens the modal
    var btn = document.getElementById("btnSair");

    // Get the <span> element that closes the modal
    var span = document.getElementById("close");

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.animationName = "fadeIn";
        modal.style.display = "flex";
        div.style.animationName = "blur";
        div.style.filter = "blur(10px)";

    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.animationName = "fadeOut";
        modal.style.display = "none";
        div.style.animationName = "unblur";
        div.style.filter = "blur(0px)";

    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        event.preventDefault();
        if (event.target == modal) {
            modal.style.animationName = "fadeOut";
            modal.style.display = "none";
            div.style.animationName = "unblur";
            div.style.filter = "blur(0px)";
        }
    }
</script>
</html>
