<!DOCTYPE html>
<html>



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/loggedProfissional.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="../static/styles/loggedMedico.css"> -->


    <title>Login</title>
</head>

<body>
    <div class="limiter">
        <div class="container-login100">
                <strong class="greetings">Bem vindo, {{ profissional.split()[0] }}!</strong>
            <div class="botoes">
                <button class="botao">Informações de cadastro</button>
                <button class="botao">Meus Clientes</button>
                <button class="botao">Recibos</button>
            </div>
            <a class="txt2" href="#"
                onclick="window.location.href='{{ url_for( 'login')}}';" style="font-size: 18px">
              <p style="margin-top: 600px">Sair</p>
            </a>

        </div>
    </div>


</body>

</html>
