<!DOCTYPE html>
<html>



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/loggedPaciente.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="../static/styles/loggedPaciente.css"> -->


    <title>Login</title>
</head>

<body>
    <div class="limiter">
        <div class="container-login100">
                {% if paciente %}
                <strong class="greetings">Bem vindo, Paciente {{ paciente }}!</strong>
                    {% endif %}
                <!-- <strong class="greetings">Bem vindo, Paciente _________!</strong> -->
            <div class="botoes">
                <button class="botao">Informações de cadastro</button>
                <button class="botao">Recibos</button>
            </div>
        </div>
    </div>


</body>

</html>