<!DOCTYPE html>
<html>



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="../static/styles/login.css"> -->


    <title>Login</title>
</head>

<body>
    <div class="container-login100">
        <div class="wrap-login100">
            <form method="POST">
                <h1 style="text-align: center; padding-top: 30px"><strong>Bem Vindo!</strong></h1>
                <div class="inputBox" style="padding-top: 40px">
                    <input type="text" name="cpf" placeholder="CPF" value="{{
							request.form.cpf }}" class="input" maxlength="14" oninput="this.value = CPF(this.value, event)" />
                </div>
                <div class="inputBox">
                    <input type="password" name="senha" placeholder="Senha" value="{{
							request.form.senha }}" class="input" />
                </div>
                {% if error %}
                <p class="error" style="text-align: center; color: #e74c3c; font-size: 14px">{{ error }}
                    {% endif %}

                    <div class="inputBox" style="padding-bottom: 10px; padding-top: 30px">
                        <button class="botao" type="submit">Entrar</button>
                    </div>

                    <div style="text-align: center; padding-bottom: 10px;">
                        <a class="txt2" onclick="window.location.href='{{ url_for( 'cadastro')}}';"
                            style="font-size: 18px;">
                            Crie sua conta
                        </a>

                        <div style="height: 30px;"></div>

                        <a   <button class="sair" id="btnSenha"style="font-size: 15px">Esqueci minha senha</button>
                        </a>

                        <div style="height: 10px;"></div>

                        <a class="txt2" onclick="window.location.href='{{ url_for( 'sobreNos')}}';"
                            style="font-size: 14px">
                            Sobre nós
                        </a>
                    </div>
            </form>
        </div>
    </div>

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <h2>Esqueceu a senha né seu arrombado?</h2>
            <div style="margin-top: 20px;">
                <button class="escolha" style="background: rgb(221, 57, 57)" id="close">Não</button>
                <button class="escolha" style="background: #2ecc71"
                    onclick="window.location.href='{{ url_for( 'login')}}'">Sim</button>
            </div>
        </div>

    </div>

    <!-- <script>
        function CPF(value, event) {
            let newValue = value.replace(/[^0-9]/g, '');


            const aux = (index) => index == 2 || index == 5;

            // on delete key.
            if (!event.data) {
                return value;
            }

            return newValue.split('').map((v, i) => aux(i) ? v + '.' : (i == 8 ? v + '-' : v)).join('');
        };
    </script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>

</body>

<script>
    // Get the modal
    var modal = document.getElementById("myModal");
    var body = document.body;
    var div = document.getElementsByClassName("container-login100")[0];
    console.log(div);

    // Get the button that opens the modal
    var btn = document.getElementById("btnSenha");

    // Get the <span> element that closes the modal
    var span = document.getElementById("close");

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.animationName = "fadeIn";
        modal.style.display = "flex";
        div.style.animationName = "blur";
        div.style.filter = "blur(10px)";

    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.animationName = "fadeOut";
        modal.style.display = "none";
        div.style.animationName = "unblur";
        div.style.filter = "blur(0px)";

    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        event.preventDefault();
        if (event.target == modal) {
            modal.style.animationName = "fadeOut";
            modal.style.display = "none";
            div.style.animationName = "unblur";
            div.style.filter = "blur(0px)";
        }
    }
</script>




</html>
