<!DOCTYPE html>
<html>



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">


    <title>Login</title>
</head>

<body>
    <div class="container-login100" id="container">
        <div class="wrap-login100" id="wrap">
            <form method="POST" id="form" style="text-align: center">
                <h1 class="welcome">Bem Vindo!</h1>
                <div class="inputBox" style="padding-top: 40px">
                    <input type="text" name="cpf" placeholder="CPF" value="{{
							request.form.cpf }}" class="input" maxlength="14" oninput="this.value = CPF(this.value, event)" />
                </div>
                <div class="inputBox">
                    <input type="password" name="senha" placeholder="Senha" value="{{
                            request.form.senha }}" class="input" />
                </div>
                <a class="txt2" id="esqueci" style="font-size: 14px; text-align: center" onclick="window.location.href='{{ url_for( 'esqueci')}}';">
                    Esqueci minha senha
                </a>
                <div style="height: 30px"></div>
                {% if error %}
                <p class="error" style="text-align: center; color: #e74c3c; font-size: 14px">{{ error }}
                    {% endif %}

                    <div class="inputBox" style="padding-bottom: 10px;">
                        <button class="botao" type="submit"
                            onclick="document.getElementById('form').submit()">Entrar</button>
                    </div>

                    <div style="text-align: center; padding-bottom: 10px;">
                        <a class="txt2" onclick="window.location.href='{{ url_for( 'cadastro')}}';"
                            style="font-size: 18px;">
                            Crie sua conta
                        </a>
                        <div style="margin-top: 30px">
                            <a class="txt2" onclick="window.location.href='{{ url_for( 'sobreNos')}}';"
                                style="font-size: 14px">
                                Sobre nós
                            </a>

                        </div>
                    </div>
            </form>
        </div>
    </div>

<script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>

</body>


</html>