<!DOCTYPE html>
<html>



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/RecibosCliente.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="../static/styles/login.css"> -->

    <title>Clientes</title>
</head>

<body>
    <i class="fa icon" onclick="window.location.href='{{ url_for('loggedProfissional')}}'">&#xf0a8;</i>
    <div class="container-login100" id="container">
        <div class = "greetings">Seus Clientes</div>
        <form method="POST" id="form" style="width: 90% ;max-width: 1050px">
            <div>
                <div style="display: flex;flex-direction: row; justify-content: space-between;">
                    <div></div>
                    <div class="dropdown" style="margin-bottom: 15px">
                        <button class="botao botao2">Ordenar por</button>
                        <div class="dropdown-content">
                            <input type="submit" class="option" name="Data" value="data"
                                onclick="document.getElementById('form').submit()">
                            <input type="submit" class="option" name="Nome" value="nome"
                                onclick="document.getElementById('form').submit()">
                        </div>
                    </div>
                </div>
                <div class="wrap-login100" id="wrap">
                    <table id="table">
                        <tr>
                            <th>Nome do cliente</th>
                            <th>Data do Último Atendimento</th>
                            <th>Detalhes</th>
                        </tr>
                    </table>
                    <div style="overflow: scroll;max-height: 60vh;background: #fff;">
                        <table id="table">
                            {% if lenRecibos == 0 %}
                            <tr>
                                <td style="width: 1000px">Você não tem clientes cadastrados</td>
                            </tr>
                            {% else %}
                            {% for recibo in recibos %}
                            <tr>
                                <td>{{recibo[1]}}</td>
                                <td>{{recibo[2]}}</td>
                                <td>
                                    <input type="submit" class="botao" style="font-size: 17px"
                                    name={{recibos.index(recibo)}} value="+">
                                    </input>
                                                           
                                </td>

                            </tr>
                            {% endfor %}
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>


</body>

</html>