<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Home - Site da Empresa</title>
    <!-- <link href="css/estilos.css" rel="stylesheet"> -->
</head>

<body>

    <div id="site">

        <div id="conteudo">
            <div id="conteudo-principal">
                <h1>
                    <center>{{nomeProfissional}}</center>
                    <h1>
                        <center>{{regProf}}</center>
                    </h1><br /><br /><br />
                    <h1>
                        <center>RECIBO</center>
                    </h1>

                    <p>
                        <center> Recebi de {{nome}}, CPF {{cpf}},<br />
                            o valor de R${{precoConsulta}}, referente ao atendimento no dia {{dataDoAtendimento}},<br />
                            na area de {{profissao}}.<br />
                        </center>
                    </p>

                    <p><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                        <center id="data"> Rio de Janeiro, {{data}}</center>
                        <center> <img alt="imagem assinatura" src="{{ url_for('static', filename='media/assinatura.jpg') }}" width="190" height="150" /></center>
                    </p>


            </div>

        </div><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <div id="rodape">
            <p id="telefone-email">
                {{email}}
                <br>
                <span class="ddd">(21)</span> {{telefone}}
            </p>

            <p id="endereco">
                {{enderecoComercial}}
                <br>
                {{CEP}}
                <br>

            </p>

            <small id="copyright">
                &copy; Empresa Ltda. Todos os Direitos Reservados.
            </small>
        </div>
    </div>

    <script>
        var hoje = new Date();
        var dia = hoje.getDate();
        var mes = hoje.getMonth() + 1;
        var ano = hoje.getFullYear();
        var mesE;

        switch (mes) {
            case 1:
                mesE = "Janeiro";
                break;
            case 2:
                mesE = "Fevereiro";
                break;
            case 3:
                mesE = "Março";
                break;
            case 4:
                mesE = "Abril";
                break;
            case 5:
                mesE = "Maio";
                break;
            case 6:
                mesE = "Junho";
                break;
            case 7:
                mesE = "Julho";
                break;
            case 8:
                mesE = "Agosto";
                break;
            case 9:
                mesE = "Setembro";
                break;
            case 10:
                mesE = "Outubro";
                break;
            case 11:
                mesE = "Novembro";
                break;
            case 12:
                mesE = "Dezembro";
                break;


        }

        var data = "Rio de Janeiro, " + dia.toString() + " de " + mesE + " de " + ano.toString();

        document.getElementById("data").innerHTML = data;
        console.log(data)
    </script>

</body>

</html>