<!DOCTYPE html>
<html>



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/loggedCliente.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="../static/styles/loggedPaciente.css"> -->


    <title>Login</title>
</head>
<input type = "button" onclick = "sayHello()" value = "Say Hello" />
<body>
    <div class="container-login100">
        <strong class="greetings">Bem vindo, {{ nome_usuario }}!</strong>
        <div class="botoes">
            <button type = "submit" class="botao" name = 'Profissional' >Profissional</button>
            <button type = submit  class="botao" name = 'Cliente' >Cliente</button>
        </div>
    </div>

</body>


</html>
