<!DOCTYPE html>
<html>



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/loggedCliente.css') }}">
    <!-- onclick="window.location.href='{{ url_for( 'loggedCliente')}}'" -->

    <title>Login</title>
</head>
<body>
    <div class="container-login100">
        <strong class="greetings">Bem vindo, {{ nome_usuario }}!</strong>
        <div class="botoes">
            <button class="botao" onclick="window.location.href='{{ url_for( 'loggedProfissional')}}'" >Profissional</button>
            <button class="botao" onclick="window.location.href='{{ url_for( 'loggedCliente')}}'">Cliente</button>
        </div>
    </div>

</body>


</html>
