<!DOCTYPE html>
<html>



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/RecibosProfissional.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="../static/styles/login.css"> -->


    <title>Recibos</title>
</head>

<body>
    <i class="fa icon" onclick="window.location.href='{{ url_for( 'loggedProfissional')}}'">&#xf0a8;</i>

    <h1 class="inputBox" style="padding-bottom: 0px;" align="right">
        <button class="botao" type="submit"
            onclick="window.location.href='{{ url_for( 'CadastrarAtendimentos')}}';">Cadastrar novo
            antendimento</button>
    </h1>
    <div class="container-login100" id="container">
        <div class="wrap-login100" id="wrap">
            <form method="POST" id="form" style="text-align: center">


                <h1 class="inputBox" style="padding-bottom: 15px;" align="right">
                    <button class="txt2" type="submit">Filtrar</button>
                </h1>
                <table>
                    <tr>
                        <th>Data</th>
                        <th>Recibos</th>
                        <th>Clientes</th>
                    </tr>

                    <tr>
                        <td>10/09/2019</td>
                        <td><a class="txt2" style="font-size: 17px">
                                Baixar Recibo
                            </a>
                        </td>
                        <td>Joaozin</td>
                    </tr>

                    <tr>
                        <td>18/06/2019</td>
                        <td><a class="txt2" style="font-size: 17px">
                                Baixar Recibo
                            </a>
                        </td>
                        <td>Mariazinha</td>

                    </tr>
                    <tr>
                        <td>25/04/2019</td>
                        <td><a class="txt2" style="font-size: 17px">
                                Baixar Recibo
                            </a>
                        </td>
                        <td>Josezin</td>

                    </tr>
                    <tr>
                        <td>22/01/2019</td>
                        <td><a class="txt2" style="font-size: 17px">
                                Baixar Recibo
                            </a>
                        </td>
                        <td>Malandro me ajuda</td>
                    </tr>
                </table>


            </form>
        </div>
    </div>

</body>

</html>